{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["relay", {"schema": "app/schema.graphql"}]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
